#设置应用名称
spring:
  application:
    name: order-service

#设置端口号
#server:
#  port: 8201


#添加 Eureka 服务器的地址
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka
      
     
feign:
  hystrix:
    enabled: true
    
    
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream 
      

---
spring:  
  profiles: order1

server:
  port: 8201  
      
---
spring:
  profiles: order2
       
server:
  port: 8202 
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      