spring:
  application:
    name: zuul
  cloud:
    config:
      override-none: true

server:
  port: 3001
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka
    
#配置路由映射:比如将path:/user/**的请求转发到service-id=user的服务上
#(根据ContextPath查找对应的服务，需要结合服务发现机制如Eureka等);
#一般无需配置,因为zuul会自动从eureka的服务注册列表中获取
zuul:
  routes:
    item-service: /item-service/**
    user-service: /user-service/**
    order-service: /order-service/**
  retryable: true #开启重试(zuul默认已经实现了负载均衡),重试参数有默认值,配不配均可
    

#配置hystrix超时时间,以便测试降级
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 500
  
#暴露hystrix.stream监控端点  
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
          
    
#zull 会过滤敏感http协议头,默认过滤Cookie,Set-Cookie,Authorization协议头
#设置zuul 不过滤这些协议头
zull:
  sensitive-headers:
    
    
    